# dir
/RemoteControl/.vs
/RemoteControl/x64
/RemoteControl/Debug
/RemoteControl/RCClient/x64
/RemoteControl/RCClient/Debug
/RemoteControl/RemoteControl/x64
/RemoteControl/RemoteControl/Debug

# file

# log