# dir
/RemoteControl/.vs
/RemoteControl/x64
/RemoteControl/Debug
/RemoteControl/RCClient/x64
/RemoteControl/RCClient/Debug
/RemoteControl/RemoteControl/x64
/RemoteControl/RemoteControl/Debug

# file
/RemoteControl/RemoteControl.sln

/RemoteControl/RCClient/RCClient.vcxproj
/RemoteControl/RCClient/RCClient.vcxproj.filters
/RemoteControl/RCClient/RCClient.vcxproj.user

/RemoteControl/RemoteControl/RemoteControl.vcxproj
/RemoteControl/RemoteControl/RemoteControl.vcxproj.filters
/RemoteControl/RemoteControl/RemoteControl.vcxproj.user
/RemoteControl/RemoteControl/RemoteControl.aps

# log